<div class="card">
  <h2 class="titleText">Title</h2>
  <span class="mutedText">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora rem ipsa
    magnam dolore similique vero asperiores, nobis quos nam, mollitia animi
    quaerat voluptatem sapiente officiis. Aliquam explicabo ad delectus, at
    optio deserunt molestiae enim earum tempore praesentium quo vero veniam
    reprehenderit facilis reiciendis aspernatur perferendis expedita rem nobis
    magni quaerat atque sint odio laborum. Explicabo enim sunt corrupti hic
    officiis nam blanditiis porro. Quaerat aliquam fugit corrupti repellat hic,
    facere sed nulla. Quas libero nisi, rem hic facere eius distinctio
    aspernatur sapiente tempore sit enim? Dicta, cupiditate adipisci! Fugiat
    ratione quaerat iusto ipsum nulla minus harum et sapiente, blanditiis magni
    iure autem eaque explicabo corrupti asperiores soluta. Doloribus saepe
    quibusdam velit natus facere animi aliquid voluptas, repellendus error! Est
    minus sapiente reiciendis officia nam similique debitis assumenda id qui,
    itaque sequi quibusdam ad omnis sit quod excepturi, ullam magnam repellat
    corporis nostrum nobis enim rerum eius? Dignissimos recusandae ducimus,
    nesciunt voluptas eligendi qui reiciendis sapiente non eaque laboriosam
    quasi voluptate tempore maxime, voluptatibus laudantium quos pariatur
    necessitatibus ullam quae, quidem consequatur magnam ipsum. Deleniti facere
    autem id praesentium, repellendus reiciendis vel eligendi distinctio
    obcaecati neque, accusamus consectetur sapiente laborum? Quisquam odit
    perferendis recusandae officiis vitae natus error, id doloribus veniam iusto
    sequi reprehenderit maxime dolor? Non provident magni, ea ab exercitationem
    porro ex corporis, mollitia nisi repellat incidunt facilis, autem doloremque
    nulla sequi iste. Dolore nihil nostrum aliquam rem molestias doloremque
    magnam error assumenda, quaerat maiores. Doloribus repellat nisi, explicabo
    corporis tempore excepturi at nobis distinctio quos quidem quod vitae alias
    dolor nulla consectetur magni delectus exercitationem. Iure a iste, ipsum
    neque sit quia temporibus provident omnis dolorem, enim nobis debitis
    perferendis vitae nostrum explicabo incidunt possimus deserunt? Minima vitae
    praesentium est explicabo perspiciatis, reiciendis a officia fugit totam
    nobis ad ipsum aut voluptatibus temporibus sint autem quaerat, debitis
    ratione esse sequi aspernatur! Placeat, totam ipsum. Sint pariatur impedit
    aut accusamus praesentium fugit temporibus ullam, soluta atque eaque
    repellat laborum unde odio. Ducimus pariatur iure sed est iste magnam,
    aliquid asperiores architecto dolor. Quasi tenetur aspernatur, perferendis
    quod accusantium ad minima recusandae voluptatum quo ipsum obcaecati sit
    vero debitis excepturi quia odio fuga repudiandae quam? Veritatis qui
    voluptatibus autem. Alias deleniti similique, tempora harum maxime dolores
    ex velit nesciunt doloremque quidem. Placeat eveniet laboriosam eum maxime
    sapiente excepturi molestias veritatis minus voluptatibus dolor, deleniti
    reiciendis rerum nostrum corrupti magnam cumque, provident ex fugit
    molestiae. Numquam sint ea laboriosam earum aperiam atque quidem minus
    autem, dolore, facilis quibusdam quia aut itaque ipsam rem iure veniam, fuga
    aspernatur hic rerum laudantium enim!
  </span>
</div>
