<div class="flex flexCol gap3 urlInputContainer">
  <div>
    <h2 class="titleText">Short a long url</h2>
    <span class="mutedText smallText my3 mAuto">
      To prevent abuse, links will be removed after 30 minutes.
    </span>
  </div>
  <br />
  <div class="inputContainer bgDark p3 rounded6 wFull flex gap3 itemsCenter">
    <i class="material-icons-round">link</i>
    <input type="text" class="wFull" placeholder="A very long url" />
    <app-button [icon]="'start'" [style]="'filled'" [extraCss]="'rounded3'" />
  </div>
</div>
