.linksContainer {
  overflow-x: hidden;
}

.ogLink {
  text-wrap-mode: nowrap;
  text-overflow: ellipsis;
}

.imgContainer {
  width: 48px;
  min-width: 48px;
  height: 48px;
  padding: var(--spacing-3);
  border-radius: 99px;
  display: grid;
  place-items: center;
}

img {
  width: 28px;
  height: 28px;
}

.ogLink {
  mask-image: linear-gradient(90deg,rgba(0, 0, 0, 1) 60%, rgba(202, 240, 76, 0) 100%);
}
