<div class="p6 itemsCenter flex gap6 bgDark rounded0" style="padding: 12px 24px;">
  <div class="imgContainer">
    <img
      src="https://www.google.com/s2/favicons?sz=64&domain_url=https://www.youtube.com/watch?v=9ui3YBR1z-g"
      alt=""
    />
  </div>
  <div class="linksContainer">
    <div class="flex gap3 itemsCenter">
      <a class="boldText" href="https://www.youtube.com/watch?v=9ui3YBR1z-g">
        lkt.co/try
      </a>
      <button>
        <i class="material-icons-round mutedText">copy</i>
      </button>
      <button>
        <i class="material-icons-round mutedText">qr_code</i>
      </button>
    </div>
    <span class="ogLink class mutedText smallText">
      https://www.youtube.com/watch?v=9ui3YBR1z-g
    </span>
  </div>
  <span class="smallText bg p3 rounded3" style="text-wrap-mode: nowrap;">30k clicks</span>
  <button>
    <i class="material-icons-round mutedText">more_vert</i>
  </button>
</div>
