<div class="dashboardContainer bg">
  <header>
    <div class="flex">
      <button class="px3 py3">
        <i class="material-icons-round">menu</i>
      </button>
    </div>
    <div class="flex justCenter">
      <input type="text" />
      <button>
        <i class="material-icons-round">search</i>
      </button>
    </div>
    <div class="flex gap6 justEnd">
      <button class="px3 py3">
        <i class="material-icons-round">dark_mode</i>
      </button>
      <button class="px3 py3">
        <i class="material-icons-round">notifications</i>
      </button>
      <button class="px3 py3">
        <i class="material-icons-round">person</i>
      </button>
    </div>
  </header>
  <div class="sidebarMainContent">
    <aside>Sidebar</aside>
    <main class="bgDark wFull hFull">
      <div class="p6 flex flexCol gap3"></div>
    </main>
  </div>
</div>
